@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Della+Respira&display=swap');

body {
    font-family: 'Cantarell', sans-serif;
    font-weight: 300;
    color: #E3E5E7;
    background: #0B263D;
}

h1, h2 {
    font-family: 'Della Respira', serif;
    font-weight: 500;
    color: E3E5E7;
    letter-spacing: 4px;
}

#logo {
    /* is float needed after I've implemented flexbox..? */
    float: left;
    font-size: 400%;
    color:rgb(213, 209, 234)
}

.flex-container {
    display: flex;
}

.box {

}

.one {
    background-color: aqua;
}

.two {
    background-color: rgb(49, 27, 109);
}

.three {
    background-color: rgb(218, 108, 130);
}