@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Della+Respira&display=swap');

body {
    font-family: 'Cantarell', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Della Respira', serif;
    font-weight: 500;
}